<!DOCTYPE html>
<html>
<body>

<h2>Diet Plan Page</h2>
<h3>Here are some diet plans we provide.</h3>
<table border="1">
    <tr>
        <th>diet id</th>
        <th>diet plan name</th>
        <th>breakfast food</th>
        <th>lunch food</th>
        <th>dinner food</th>
        <th>expected calorie input</th>  
<!--change-->
    </tr>

<!-- line1-->
    <tr>
    {%for n in dietplan1%}
        <td>{{n}}</td>
    {%endfor%}
    </tr>

<!-- line2-->
    <tr>
    {%for n in dietplan2%}
        <td>{{n}}</td>
    {%endfor%}
    </tr>

    <!-- line3-->
    <tr>
    {%for n in dietplan3%}
        <td>{{n}}</td>
    {%endfor%}
    </tr>

        <!-- line4-->
    <tr>
    {%for n in dietplan4%}
        <td>{{n}}</td>
    {%endfor%}
    </tr>

        <!-- line5-->
    <tr>
    {%for n in dietplan5%}
        <td>{{n}}</td>
    {%endfor%}
    </tr>

        <!-- line6-->
    <tr>
    {%for n in dietplan6%}
        <td>{{n}}</td>
    {%endfor%}
    </tr>

        <!-- line7-->
    <tr>
    {%for n in dietplan7%}
        <td>{{n}}</td>
    {%endfor%}
    </tr>

        <!-- line8-->
    <tr>
    {%for n in dietplan8%}
        <td>{{n}}</td>
    {%endfor%}
    </tr>

        <!-- line9-->
    <tr>
    {%for n in dietplan9%}
        <td>{{n}}</td>
    {%endfor%}
    </tr>

        <!-- line10-->
    <tr>
    {%for n in dietplan10%}
        <td>{{n}}</td>
    {%endfor%}
    </tr>

</table>

<h4>Choose your favorite food! And select one diet plan that you are interested in, and click <a href="/mainpage">here</a> to dashboard and type diet id to finish selection :)</h4>

</body>
</html>



<!--注释内容-->