<!DOCTYPE html>
<html>
<body>

<h1>Fitness Plan Page</h1>
<h2>Here are some fitness plans we provide.</h2>
<table border="2">
    <tr>
        <th>id</th>
        <th>plan name</th>
        <th>days in week</th>
        <th>each time</th>
        <th>dinner food</th>
        <th>parts</th>
        <th>calorie consumption</th>
        <th>music</th>
<!--change-->
    </tr>

<!-- line1-->
    <tr>
    {%for n in fitnessplan1%}
        <td>{{n}}</td>
    {%endfor%}
    </tr>

<!-- line2-->
    <tr>
    {%for n in fitnessplan2%}
        <td>{{n}}</td>
    {%endfor%}
    </tr>

    <!-- line3-->
    <tr>
    {%for n in fitnessplan3%}
        <td>{{n}}</td>
    {%endfor%}
    </tr>

        <!-- line4-->
    <tr>
    {%for n in fitnessplan4%}
        <td>{{n}}</td>
    {%endfor%}
    </tr>

        <!-- line5-->
    <tr>
    {%for n in fitnessplan5%}
        <td>{{n}}</td>
    {%endfor%}
    </tr>

        <!-- line6-->
    <tr>
    {%for n in fitnessplan6%}
        <td>{{n}}</td>
    {%endfor%}
    </tr>

        <!-- line7-->
    <tr>
    {%for n in fitnessplan7%}
        <td>{{n}}</td>
    {%endfor%}
    </tr>

        <!-- line8-->
    <tr>
    {%for n in fitnessplan8%}
        <td>{{n}}</td>
    {%endfor%}
    </tr>

        <!-- line9-->
    <tr>
    {%for n in fitnessplan9%}
        <td>{{n}}</td>
    {%endfor%}
    </tr>

        <!-- line10-->
    <tr>
    {%for n in fitnessplan10%}
        <td>{{n}}</td>
    {%endfor%}
    </tr>

</table>

<h3>Maybe you are interesed in coaches, here we have some coaches provide certain plans~</h3>

<table border="1">
    <tr>
        <th>coach_id</th>
        <th>name</th>
        <th>height</th>
        <th>weight</th>
        <th>age</th>
<!--change-->
    </tr>

<!-- line1-->
    <tr>
    {%for n in coachplan1%}
        <td>{{n}}</td>
    {%endfor%}
    </tr>

<!-- line2-->
    <tr>
    {%for n in coachplan2%}
        <td>{{n}}</td>
    {%endfor%}
    </tr>

    <!-- line3-->
    <tr>
    {%for n in coachplan3%}
        <td>{{n}}</td>
    {%endfor%}
    </tr>

        <!-- line4-->
    <tr>
    {%for n in coachplan4%}
        <td>{{n}}</td>
    {%endfor%}
    </tr>

        <!-- line5-->
    <tr>
    {%for n in coachplan5%}
        <td>{{n}}</td>
    {%endfor%}
    </tr>

        <!-- line6-->
    <tr>
    {%for n in coachplan6%}
        <td>{{n}}</td>
    {%endfor%}
    </tr>

        <!-- line7-->
    <tr>
    {%for n in coachplan7%}
        <td>{{n}}</td>
    {%endfor%}
    </tr>

        <!-- line8-->
    <tr>
    {%for n in coachplan8%}
        <td>{{n}}</td>
    {%endfor%}
    </tr>

        <!-- line9-->
    <tr>
    {%for n in coachplan9%}
        <td>{{n}}</td>
    {%endfor%}
    </tr>

        <!-- line10-->
    <tr>
    {%for n in coachplan10%}
        <td>{{n}}</td>
    {%endfor%}
    </tr>

</table>

<h4>Select the body parts you want to train!</h4>
<h4>    And select the music type you like~ </h4>
<h4>    Remember to click <a href="/mainpage">here</a> to dashboard and type diet-id to finish selection :)</h4>

</body>
</html>



<!--注释内容-->