<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Dashboard</h1>
<p>HELLO, {{name}} </p>
<form method="POST" action="/logoutpage">
    <input type="submit" value="Log out">
</form>


<h3><STRONG>Click <a href="/dietplanpage">here</a> to see DIET-PLAN we provide.</STRONG></h3>
<h3><STRONG>Click <a href="/fitnessplanpage">here</a> to see Fitness-PLAN we provide.</STRONG></h3>

<p>Type diet-id and fitness-id here to select the plans you prefer</p>

<form method="POST" action="/planselection">
    <p>diet plan id <input type="text" name="diet_plan_id" required></p>
    <p>fitness plan id <input type="text" name="fitness_plan_id" required></p>
    <p><input type="submit" value="submit"></p>
</form>

<p>Your selected plan:</p>
<table border="1">
    <tr>
        <th>selected diet plan id</th>
        <th>selected fitness plan id</th>
<!--change-->
    </tr>

<!-- line1-->
    <tr>
        <td>{{a}}</td>
        <td>{{b}}</td>
    </tr>

</table>

</body>
</html>