<!DOCTYPE html>
<html>
<body>

<h2>Diet Plan Page</h2>
<h3>Here are some diet plans we provide.</h3>
<table border="1">
    <tr>
        <th>diet id</th>
        <th>diet plan name</th>
        <th>breakfast food</th>
        <th>lunch food</th>
        <th>dinner food</th>
        <th>expected calorie input</th>  
<!--change-->
    </tr>

    {%for diet_plan in data%}
        <tr>
            <td>{{diet_plan['diet_plan_id']}}</td>
            <td>{{diet_plan['diet_plan_name']}}</td>
            <td>{{diet_plan['breakfast']}}</td>
            <td>{{diet_plan['lunch']}}</td>
            <td>{{diet_plan['dinner']}}</td>
            <td>{{diet_plan['expected_calorie_input']}}kcal</td>
        </tr>
    {%endfor%}


</table>

<h4>Choose your favorite food! And select one diet plan that you are interested in, and click <a href="/mainpage">here</a> to dashboard and type diet id to finish selection :)</h4>

</body>
</html>


