<!DOCTYPE html>
<html>
<body>

<h1>Fitness Plan Page</h1>
<h2>Here are some fitness plans we provide.</h2>
<table border="2">
    <tr>
        <th>id</th>
        <th>plan name</th>
        <th>days in week</th>
        <th>each time</th>
        <th>dinner food</th>
        <th>parts</th>
        <th>calorie consumption</th>
        <th>music</th>
<!--change-->
    </tr>

    {%for fitness_plan in data%}
        <tr>
            <td>{{fitness_plan['fitness_plan_id']}}</td>
            <td>{{fitness_plan['fitness_plan_name']}}</td>
            <td>{{fitness_plan['days_in_week']}}</td>
            <td>{{fitness_plan['training_day']}}</td>
            <td>{{fitness_plan['training_time']}}</td>
            <td>{{fitness_plan['parts']}}</td>
            <td>{{fitness_plan['expected_calorie_consumption']}}kcal</td>
            <td>{{fitness_plan['music']}}</td>
        </tr>
    {%endfor%}


</table>

<h3>Maybe you are interesed in coaches, here we have some coaches provide certain plans~</h3>

<table border="1">
    <tr>
        <th>coach_id</th>
        <th>name</th>
        <th>height</th>
        <th>weight</th>
        <th>age</th>
        <th>provided-fitness-plan id</th>
<!--change-->
    </tr>


    {%for coach_plan in data1%}
        <tr>
            <td>{{coach_plan['coach_id']}}</td>
            <td>{{coach_plan['name']}}</td>
            <td>{{coach_plan['height']}}cm</td>
            <td>{{coach_plan['weight']}}lb</td>
            <td>{{coach_plan['age']}}</td>
            <td>{{coach_plan['fitness_plan_id']}}</td>
        </tr>
    {%endfor%}


</table>

<h4>Select the body parts you want to train!</h4>
<h4>    And select the music type you like~ </h4>
<h4>    Remember to click <a href="/mainpage">here</a> to dashboard and type diet-id to finish selection :)</h4>

</body>
</html>



<!--注释内容-->