<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>Welcome to bodyshape-management system!</p>
    <p>Please Log In</p>

<!--    <form action="/login" method="post" id="loginform">-->
<!--        <div>-->
<!--            <label for="mail">E-mail:</label>-->
<!--            <input type="text" id="mail" required>-->
<!--        </div>-->
<!--        <div>-->
<!--            <label for="password">password:</label>-->
<!--            <input type="password" id="password" required>-->
<!--        </div>-->
<!--        <div class="button">-->
<!--            <button type="submit">Log in</button>  &lt;!&ndash; button提交时交到form表单的action的url地址&ndash;&gt;-->
<!--        </div>-->
<!--    </form>-->

    <form method="POST" action="/login">
        <p>E-mail <input type="text" name="email" required></p>
        <p>password <input type="password" name="password" required></p>
        <p><input type="submit" value="Log in"></p>
    </form>


</body>
</html>